<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.company.persistence.PayrollAccountRepository">
    <insert id="create" keyProperty="payrollAccount.id" useGeneratedKeys="true">
        Insert into Payroll_accounts (bank, account_number) values (#{bank}, #{bankAccount})
    </insert>

    <resultMap id="PayrollAccountResultMap" type="com.solvd.company.domain.PayrollAccount" autoMapping="false">
        <id property="id" column="payroll_account_id"/>
        <result property="bank" column="bank"/>
        <result property="bankAccount" column="account_number"/>
    </resultMap>

</mapper>